body {
    background-color: #232b2b;
}

input {
    background-color: 	#414a4c;
    color: white;
}

.display-1 {
    text-shadow: 2px 2px white;
  }

.movieDetail {
    background-color: 	#414a4c;
    color: white;
}  
.movieDetail h1 {
    margin-top: 10px;
    margin-left: 10px;
}

#titulo {
    margin-top: 10px;
}

#botonBuscar {
    margin-top: 10px;
}

#header {
    color: red;
}

#result {
    margin-top: 20px;
}

.movie {
    margin-left: 5px;
}

.movieContainer {
    max-width: 80%;
    border: none;
}

.moviePosters {
    max-width: 80%;
}