.modal-aviso-contenido{
    background-color:whitesmoke;
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
  }
  .modal-aviso{
    background-color: rgba(0,0,0,.8);
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
  }
